<% include head.ejs %>
<title><%= username %></title>
<% include nav.ejs %>
<h1><%= username %></h1>
<div>
  <p>Do you think <%= username %> could be the one?</p>
  <% if (gender == 'male') { var gender = 'He' } else { var gender = 'She' } %>
  <% if (questions.length && questions.length > 0) { %>
    <p>
      <%= gender %> stated a few questions, if you get them right you'll be able to start a conversation!
    </p>
    <img id="gif" data-tag="question" src="" />
    <a href="/users/<%= _id %>/questions">Let's go</a>
  <% } %>
</div>

<script src=/gif.js></script>
<% include tail.ejs %>
