<% include head.ejs %>
<link rel=stylesheet href=/chat.css>
<title><%= user.username %></title>
<% include nav.ejs %>

<ul id="messages">
  <% for (var i = 0; i < chat.length; i++) { %>
    <li id=<%= i %> class="<%= chat[i].from.toString() === self._id.toString() ? "send" : "received" %>">
      <div>
        <%= chat[i].message %>
        <span class="time"><%= chat[i].send %></span>
      </div>
    </li>
  <% } %>
</ul>

<form id=chat action="/users/<%= user._id %>/chat" method=post>
  <input id="message" name="message" autocomplete="off" /><button>Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/chat.js"></script>
<script>
var socket = io();
var id = '<%- self._id %>';

socket.on(id, function({ message, send, from }) {
  var list = document.getElementById('messages');
  var container = document.createElement('div');
  var item = document.createElement('li');
  var time = document.createElement('span');
  console.log(time);
  time.className = 'time';
  time.innerHTML = send;
  item.className = from === id ? 'send' : 'received';
  container.innerHTML = message;
  container.appendChild(time);
  item.appendChild(container);
  list.appendChild(item);
  list.lastChild.scrollIntoView(true);
});
</script>
<% include tail.ejs %>
