<% include head.ejs %>
<title>Endless</title>
<% include nav.ejs %>
<h1>Jouw matches</h1>
<div class=list>
<% for (var index = 0; index < data.length; index++) { %>
  <a href="/users/<%= data[index].id %>">
    <div class=item>
      <h3>
        <%= data[index].name %>, <%= data[index].age %>
      </h3>
      <h3><%= index + 1 %></h3>
    </div>
    <p class=meta>
      <span><%= data[index].matchPercentage %>% match!</span>
      <span><%= data[index].distance %> kilometer</span>
    </p>
  </a>
<% } %>
</div>
<% include tail.ejs %>
