<% include head.ejs %>
<title>Add a movie - My movie website</title>
<% include nav.ejs %>
<h1><%= data.question %></h1>
<form action=/ method=post>
  <input name=id style="display: none" value=<%= data._id %>></input>
  <input name=question style="display: none" value="<%= data.question %>"></input>
  <div class=inputs style="grid-template-columns: repeat(<%= data.answer.length %>, 1fr)">
    <% for (var index = 0; index < data.answer.length; index++) { %>
      <div class=input>
        <input type=submit name=answer value="<%= data.answer[index] %>" />
      </div>
    <% } %>
  </div>
</form>
<% include tail.ejs %>
